<ion-view>
    <ion-nav-title>
        <div class="chattitle">
            <img src="img/pic.jpg">
            <h2>{{ recipier }}</h2>
            <p>Last Login {{ login | date : "shortTime" }}</p>
        </div>
    </ion-nav-title>
    <ion-content class="has-header" padding="false">
        <div class="chat">
          <div class="chat-history">
          <ion-refresher pulling-text="Pull to refresh" refreshing-text="Loading..." refreshing-icon="ion-loading-c" pulling-icon="ion-ios7-arrow-thin-down" on-refresh="doRefresh()">
          </ion-refresher>
            <ul>
              <li  ng-repeat="message in messages" class="{{ message.li }}">
                <div class="{{ message.divli }}">
                  <span ng-if="message.isMe" class="message-data-time" >{{ message.date | date : "shortTime" }}</span> &nbsp; &nbsp;
                  <span ng-if="message.isFriend" class="message-data-name" ><i ng-if="message.isFriend" class="fa fa-circle online"></i>{{ message.name }}</span> 
                  <span ng-if="message.isMe" class="message-data-name">{{ message.name }}</span><i ng-if="message.isMe" class="fa fa-circle me"></i> 
                  <span ng-if="message.isFriend" class="message-data-time">{{ message.date | date : "shortTime" }}</span>
                  
                </div>
                <div class="{{ message.divme }}">
                  {{ message.message }}
                </div>
              </li>
            </ul>
            
          </div> <!-- end chat-history -->
          
          <div class="chat-message clearfix">
            <i class="ion-ios-navigate-outline"></i>
            <textarea ng-model="message.toSend" id="message-to-send" placeholder ="{{ txt }}" rows="3" focus-me></textarea>
            <button ng-click="send(message)">Send</button>
            
            

          </div> <!-- end chat-message -->
          
        </div> <!-- end chat -->
    </ion-content>
</ion-view>