<ion-view style="" title="ChitChat">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <ion-list style=""></ion-list>
        <div style="">
            <div class="list">

                <a class="item item-avatar" href="#">
                    <img src="venkman.jpg">
                    <h2>Venkman</h2>
                    <p>Back off, man. I'm a scientist.</p>
                </a>

                <a class="item item-avatar" href="#">
                    <img src="venkman.jpg">
                    <h2>Venkman</h2>
                    <p>Back off, man. I'm a scientist.</p>
                </a>

                <a class="item item-avatar" href="#">
                    <img src="venkman.jpg">
                    <h2>Venkman</h2>
                    <p>Back off, man. I'm a scientist.</p>
                </a>

            </div>
        </div>
    </ion-content>
</ion-view>