<ion-view style="" title="Expense">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <div style="">
            <div class="list">

                <a class="item item-icon-left" href="#">
                    <i class="icon ion-ios-cart-outline"></i>
                    Shopping
                    <span class="badge ">1.000.000</span>
                </a>

                <a class="item item-icon-left" href="#">
                    <i class="icon ion-home"></i>
                    Apartment
                    <span class="badge ">1.000.000</span>
                </a>





            </div>
        </div>
        <div style="width: 283px; height: 63px;" class="spacer"></div>
        <a style="" class="button button-stable button-outline button-block  icon-left ion-ios-undo-outline button-full" ui-sref="newExpenseCategory">New Expense</a>
    </ion-content>
</ion-view>