<ion-view style="" title="{{ AccountTitle }}">
    <ion-content class="has-header" padding="true">
        <ion-list can-swipe="listCanSwipe">
            <ion-item ng-repeat="member in members track by member.$id" ng-click="handleSwipeOptions($event, member)" class="item-thumbnail-left">
                <img src="data:image/jpeg;base64,{{ member.photo }}">
                <h2>{{ member.firstname + " " + member.surename }}</h2>
                <p>{{ member.email }}</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>