<ion-view style="" title="{{ AccountTitle }}">
    <ion-content class="has-header" padding="true">
        <ion-list can-swipe="listCanSwipe">
            <div class="friends" ng-repeat="member in members track by member.$id" ng-click="handleSwipeOptions($event, member)">
                <img src="data:image/jpeg;base64,{{ member.photo }}">
                <p>
                    <strong>{{ member.firstname + " " + member.surename }}</strong><br>
                    <span>{{ member.email }}</span>
                </p>
                <div class="status away"></div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>