<ion-view style="" title="{{ AccountTitle }}">
    <ion-content class="has-header" padding="true">
        <div style="text-align: center;">
            <img src="img/tDn85ZSQRkaIqkMXKvpk_Jogja 187.JPG" height="auto" width="100%">
        </div>
        <h3 style="">{{ fullname() }}</h3>
        <div style="" class="button-bar family">
            <button style="" class="button icon ion-ios-clock-outline"></button>
            <button style="" class="button icon ion-ios-moon-outline"></button>
            <button style="" class="button icon ion-ios-sunny-outline"></button>
            <button style="" class="button icon ion-ios-calendar-outline"></button>
        </div>
        <div style="">
            <p>Summary This Month</p>
        </div>
        <div style="">
            <div class="list family">

                <a class="item item-icon-left" href="#">
                    <i class="icon ion-ios-loop"></i>
                    Balance
                    <span class="badge badge-{{BalanceClass}}">{{ currentBalance | currency:"Rp ":0 }}</span>
                </a>

                <a class="item item-icon-left" href="#">
                    <i class="icon ion-ios-undo-outline"></i>
                    Expense
                    <span class="item-note assertive">{{ expense | currency:"Rp ":0 }}</span>
                </a>

                <a class="item item-icon-left" href="#">
                    <i class="icon ion-ios-redo-outline"></i>
                    Income
                    <span class="item-note balanced">{{ income | currency:"Rp ":0 }}</span>
                </a>

            </div>
        </div>
        <div style="">
            <div class="list card">

                <div class="item item-avatar">
                    <img src="mcfly.jpg">
                    <h2>Marty McFly</h2>
                    <p>November 05, 1955</p>
                </div>

                <div class="item item-body">
                    <img class="full-image" src="delorean.jpg">
                    <p>
                        This is a "Facebook" styled Card. The header is created from a Thumbnail List item.
                    </p>
                    <p>
                        <a href="#" class="subdued">1 Like</a>
                        <a href="#" class="subdued">5 Comments</a>
                    </p>
                </div>

            </div>
        </div>
    </ion-content>
</ion-view>