<ion-view style="" title="{{ AccountTitle }}">
    <ion-content class="has-header" padding="true">
        <div style="text-align: center;">
            <img src="data:image/jpeg;base64,{{ photo }}" height="300px" width="100%">
        </div>
        <h3 style="">{{ fullname() }}</h3>
        <div style="" class="button-bar family">
            <button style="" class="button icon ion-ios-clock-outline" ng-click="today()"></button>
            <button style="" class="button icon ion-ios-moon-outline" ng-click="tomonth()"></button>
            <button style="" class="button icon ion-ios-sunny-outline"></button>
            <button style="" class="button icon ion-ios-calendar-outline"></button>
        </div>
        <div style="">
            <div class="list">

                <a class="item item-icon-left" href="#">
                    <i class="icon ion-ios-loop"></i>
                    Current Balance
                    <span class="badge badge-{{BalanceClass}}">{{ currentBalance | currency:"Rp ":0 }}</span>
                </a>

                <a class="item item-icon-left" href="#">
                    <i class="icon ion-ios-undo-outline"></i>
                    Total Expense
                    <span class="item-note assertive">{{ expense | currency:"Rp ":0 }}</span>
                </a>

                <a class="item item-icon-left" href="#">
                    <i class="icon ion-ios-redo-outline"></i>
                    Total Income
                    <span class="item-note balanced">{{ income | currency:"Rp ":0 }}</span>
                </a>

            </div>
        </div>
        <div style="width: 283px; height: 8px;" class="spacer"></div>
        <div style="">
            <div collection-repeat="public in publics | orderBy:'-date'">
                <div class="list card">
                    <div class="item item-avatar">
                        <img src="data:image/jpeg;base64,{{ photo }}">
                        <h2>{{ public.name }}</h2>
                        <p>{{ public.date | date : "h:mm a" }} . {{ public.location }}</p>
                    </div>
                    <div class="item item-body">
                        <p>{{ public.note }}</p>
                        <img class="full-image" src="data:image/jpeg;base64,{{ public.photo }}">
                        <p>
                            <a href="#" class="subdued"><i class="icon ion-thumbsup"></i>{{ public.likes }}</a>
                            <a href="#" class="subdued"><i class="icon ion-ios-chatboxes"></i>{{ public.comments }}</a>
                            <a href="#" class="subdued"><i class="icon ion-ios-eye"></i>{{ public.views }}</a>
                        </p>
                    </div>
                </div>
                <div style="width: 283px; height: 8px;" class="spacer"></div>
            </div>
        </div>
    </ion-content>
</ion-view>