<ion-view title="Create Group" cache-view="false">
    <ion-header-bar class="bar-balanced">
        <h1 class="title">Join Existing Group</h1>
        <button class="button button-clear customHeaderIcon customHeaderIconSmall" ng-click="joinGroup(group)">Join</button>
    </ion-header-bar>
    <ion-content class="has-header">
        <div ng-hide="hideValidationMessage" class="cssSlideUp ng-hide">
            <div class="validationDiv">
                <p>
                    {{ validationMessage }}
                </p>
            </div>
        </div>
        <ion-item class="item-icon-left form-group floating-padding">
            <i class="icon fa fa-home placeholder-icon"></i>
            <label class="item item-input item-floating-label">
                <span class="input-label">Group Code</span>
                <input type="text" placeholder="Enter Group Code" ng-model="group.groupid">
            </label>
        </ion-item>
    </ion-content>
</ion-view>