<ion-view style="" title="New Recurring">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <ion-list style="">
            <ion-item style="" class="item-divider">Income</ion-item>
            <label style="" name="income" class="item item-select">
                <span class="input-label"></span>
                <select>
                    <option>Salary</option>
                    <option>Allowance</option>
                </select>
            </label>
        </ion-list>
        <div style="width: 283px; height: 59px;" class="spacer"></div>
        <ion-list style="">
            <ion-item style="" class="item-divider">Expense</ion-item>
            <label style="" name="expense" class="item item-select">
                <span class="input-label"></span>
                <select>
                    <option>Shopping</option>
                    <option>Appartment</option>
                </select>
            </label>
        </ion-list>
    </ion-content>
</ion-view>