<ion-view style="" title="Zezi">
    <ion-nav-buttons side="left">
        <button class="button-icon fa fa-search customHeaderIcon customHeaderIconSmall extraMarginRight" ng-click="showFilterBar()"></button>
    </ion-nav-buttons>
    <button class="button button-post" ng-click="createPosting()">
        <i class="icon ion-ios-pricetags-outline"></i>
    </button>
    <ion-content class="has-header" padding="true">
    <ion-refresher pulling-text="Pull to refresh" refreshing-text="Loading..." refreshing-icon="ion-loading-c" pulling-icon="ion-ios7-arrow-thin-down" on-refresh="doRefresh()">
          </ion-refresher>
            <div collection-repeat="public in publics | orderBy:'-date'">
                <div class="list card">
                    <div class="item item-avatar">
                        <img src="data:image/jpeg;base64,{{ photo }}">
                        <h2>{{ public.name }}</h2>
                        <p>{{ public.date | date : "h:mm a" }} . {{ public.location }}</p>
                    </div>
                    <div class="item item-body">
                        <p>{{ public.note }}</p>
                        <img class="full-image" src="data:image/jpeg;base64,{{ public.photo }}">
                        <div class="row">
                          <div class="col col-10"><i class="icon ion-thumbsup"></i>{{ public.likes }}</div>
                          <div class="col col-10"><i class="icon ion-ios-chatboxes"></i>{{ public.comments }}</div>
                          <div class="col col-10"><i class="icon ion-ios-eye"></i>{{ public.views }}</div>
                        </div>
                    </div>
                </div>
                <div style="width: 283px; height: 8px;" class="spacer"></div>
            </div>
    </ion-content>
</ion-view>