<ion-view style="" title="Zezi">
    <ion-nav-buttons side="left">
        <button class="button-icon fa fa-search customHeaderIcon customHeaderIconSmall extraMarginRight" ng-click="showFilterBar()"></button>
    </ion-nav-buttons>
    <button class="button button-post" ng-click="createPosting()">
        <i class="icon ion-ios-pricetags-outline"></i>
    </button>
    <ion-content class="has-header" overflow-scroll="false" padding="true">
            <div collection-repeat="public in publics | orderBy:'-date'">
                <div class="list card">
                    <div class="item item-avatar">
                        <img src="img/zezi-logo.png">
                        <h2>{{ public.name }}</h2>
                        <p>{{ public.date | date : "h:mm a" }} . {{ public.location }}</p>
                    </div>
                    <div class="item item-body">
                        <p>{{ public.note }}</p>
                        <img class="full-image" src="img/zezi.png">
                        <p>
                            <a href="#" class="subdued"><i class="icon ion-thumbsup"></i>{{ public.likes }}</a>
                            <a href="#" class="subdued"><i class="icon ion-ios-chatboxes"></i>{{ public.comments }}</a>
                            <a href="#" class="subdued"><i class="icon ion-ios-eye"></i>{{ public.views }}</a>
                        </p>
                    </div>
                </div>
                <div style="width: 283px; height: 8px;" class="spacer"></div>
            </div>
    </ion-content>
</ion-view>