<ion-view style="" title="Zezi">
    <ion-nav-buttons side="left">
        <button class="button-icon fa fa-search customHeaderIcon customHeaderIconSmall extraMarginRight" ng-click="showFilterBar()"></button>
    </ion-nav-buttons>
    <button class="button button-post" ng-click="createPosting()">
        <i class="icon ion-ios-pricetags-outline"></i>
    </button>
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <ion-list can-swipe="listCanSwipe">
            <div collection-repeat="public in publics" divider-collection-repeat>
                <div class="list card">
                    <div class="item item-avatar">
                        <img src="img/zezi-logo.png">
                        <h2>{{ public.name }}</h2>
                        <p>{{ public.date }}</p>
                    </div>
                    <div class="item item-body">
                        <img class="full-image" src="img/zezi.png">
                        <p>{{ public.note }}</p>
                        <p>
                            <a href="#" class="subdued">1 Like</a>
                            <a href="#" class="subdued">5 Comments</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>