<ion-view style="" title="Post">
    <ion-content class="has-header" padding="true">
    <ion-refresher pulling-text="Pull to refresh" refreshing-text="Loading..." refreshing-icon="ion-loading-c" pulling-icon="ion-ios7-arrow-thin-down" on-refresh="doRefresh()">
    </ion-refresher>
            <div class="list card">
                <div class="item item-avatar">
                    <img src="data:image/jpeg;base64,{{ photo }}">
                    <h2>{{ name }}</h2>
                    <p>{{ date | date : "h:mm a" }} . {{ location }}</p>
                </div>
                <div class="item item-body">
                    <p>{{ note }}</p>
                    <img class="full-image" src="data:image/jpeg;base64,{{ photo }}" ng-click="handleSwipeOptions($event, postpost)">
                    <div class="row">
                      <div class="col col-10"><i class="icon ion-thumbsup"></i>{{ likes }}</div>
                      <div class="col col-10"><i class="icon ion-ios-chatboxes"></i>{{ comments }}</div>
                      <div class="col col-10"><i class="icon ion-ios-eye"></i>{{ views }}</div>
                    </div>
                </div>
            </div>
            <div class="list">

                <a class="item item-avatar" href="#">
                    <img src="venkman.jpg">
                    <h2>Venkman</h2>
                    <p>Back off, man. I'm a scientist.</p>
                </a>

                <a class="item item-avatar" href="#">
                    <img src="venkman.jpg">
                    <h2>Venkman</h2>
                    <p>Back off, man. I'm a scientist.</p>
                </a>

                <a class="item item-avatar" href="#">
                    <img src="venkman.jpg">
                    <h2>Venkman</h2>
                    <p>Back off, man. I'm a scientist.</p>
                </a>

            </div>
    </ion-content>
</ion-view>