<ion-view style="" title="Recurring">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <ion-list style="">
            <ion-item style="" class="item-divider">Income</ion-item>
        </ion-list>
        <div style="">
            <div class="list">

                <a class="item item-icon-left" href="#">
                    <i class="icon ion-happy-outline"></i>
                    Salary
                    <span class="badge ">1.000.000</span>
                </a>

                <a class="item item-icon-left" href="#">
                    <i class="icon ion-thumbsup"></i>
                    Allowance
                    <span class="badge ">1.000.000</span>
                </a>





            </div>
        </div>
        <ion-list style="">
            <ion-item style="" class="item-divider">Expense</ion-item>
        </ion-list>
        <div style="">
            <div class="list">

                <a class="item item-icon-left" href="#">
                    <i class="icon ion-ios-cart-outline"></i>
                    Shopping
                    <span class="badge ">1.000.000</span>
                </a>

                <a class="item item-icon-left" href="#">
                    <i class="icon ion-home"></i>
                    Apartment
                    <span class="badge ">1.000.000</span>
                </a>





            </div>
        </div>
        <div style="width: 283px; height: 57px;" class="spacer"></div>
        <a style="" class="button button-stable button-outline button-block  icon-left ion-ios-loop button-full" ui-sref="newRecurring">New Recurring</a>
    </ion-content>
</ion-view>