<ion-view style="" title="Account Name">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <div style="line-height: 250px; background-color: rgb(255, 255, 255); border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center;">
            <i style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;" class="icon ion-image"></i>
        </div>
        <form style="" class="list">
            <ion-item style="" class="item-divider">Basic Information</ion-item>
            <label style="" name="email" class="item item-input">
                <input placeholder="Email" type="email">
            </label>
            <label style="" name="password" class="item item-input">
                <input placeholder="Password" type="password">
            </label>
            <label style="" name="name" class="item item-input">
                <input placeholder="Name" type="text">
            </label>
            <label style="" name="phone" class="item item-input">
                <input placeholder="Phone" type="tel">
            </label>
            <label style="" name="birthday" class="item item-input">
                <input placeholder="Birthday" type="date">
            </label>
            <ion-checkbox style="" name="male">Male</ion-checkbox>
            <ion-checkbox style="" name="male">Female</ion-checkbox>
            <div style="width: 283px; height: 49px;" class="spacer"></div>
            <ion-toggle style="" name="das" toggle-class="toggle-positive">Disable Account Setting</ion-toggle>
        </form>
    </ion-content>
</ion-view>