<ion-view style="" title="New Expense Category">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <form style="" class="list">
            <label style="" name="account" class="item item-input">
                <input placeholder="Expense Account" type="text">
            </label>
            <label style="" name="icon" class="item item-select">
                <span class="input-label">Icon</span>
                <select>
                    <option>ion-refresh</option>
                    <option>ion-gear-a</option>
                </select>
            </label>
        </form>
    </ion-content>
</ion-view>