<ion-view style="" title="Profile">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <div style="text-align: center;">
            <img src="img/WYHupbWSfG6tzXD3X9rw_Jogja 124.JPG" height="50%" width="100%">
        </div>
        <form style="" class="list">
            <ion-item style="" class="item-divider">Basic Information</ion-item>
            <label style="" name="email" class="item item-input">
                <input placeholder="Email" type="email">
            </label>
            <label style="" name="password" class="item item-input">
                <input placeholder="Password" type="password">
            </label>
            <label style="" name="name" class="item item-input">
                <input placeholder="Name" type="text">
            </label>
            <label style="" name="phone" class="item item-input">
                <input placeholder="Phone" type="tel">
            </label>
            <label style="" name="birthday" class="item item-input">
                <input placeholder="Birthday" type="date">
            </label>
            <ion-checkbox style="" name="male">Male</ion-checkbox>
            <ion-checkbox style="" name="male">Female</ion-checkbox>
            <div style="width: 283px; height: 50px;" class="spacer"></div>
        </form>
    </ion-content>
</ion-view>